mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;
  height: 60px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);

  > a {
    font-size: 1.2rem;
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #f1f1f1;

  .main-content {
    flex-grow: 1;
    margin: 20px;
  }
}

mat-sidenav {
  width: 270px;
  background-color: lightgray;
}

.open-close-sidenav-container {
  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;
  padding: 20px 0;
  background-color: #fff;

  > button {
    margin-left: 10px;
  }
}

.item-sidenav {
  width: 100%;
  height: 60px;

  a {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;

    > p {
      font-weight: 200;
      margin: 0 15px;
    }
  }
}

fa-icon {
  font-size: 1.2rem;
}

.footer {
  font-size: 0.8rem;
  margin: 0 10px 10px 17px;
  color: #6c757d;
}

small {
  margin-left: 10px;
}
