<mat-sidenav-container>
  <mat-sidenav
    [opened]="opened"
    (openedChange)="setSidenavStatus($event)"
    mode="side"
  >
    <h3>Conteúdo do Sidenav</h3>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="open-close-sidenav-container">
      <button mat-icon-button (click)="onToggleMenuClick()">
        <mat-icon>menu</mat-icon>
      </button>

      <small> Olá, {{ username }}! </small>
    </div>

    <div class="main-content">
      <h1>Conteúdo da Página</h1>
    </div>

    <small class="footer">
      &copy; {{ currentYear }}. Todos os Direitos Reservados - Versão: 1.0.0
    </small>
  </mat-sidenav-content>
</mat-sidenav-container>
