@import "src/assets/variables.scss";

table {
  width: 80vw;
  margin: 2rem 0;

  th {
    color: $primary-gold;
    background-color: $primary-green;
  }

  th,
  td {
    text-align: center !important;
  }
}

.th-question {
  width: 50%;
}

mat-form-field {
  margin: 10px 0;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
